.banner{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.text{
    width: 25%;
    background: #bdc7c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.text__big{
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
    font-family: 'Italianno', cursive;
    color: #845460;

}
.text__small {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Italianno', cursive;
    text-align: left;
    color: #845460;
}
.image{
    width: 75%;
}

.btn_explore{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: transparent;
    margin-bottom: 0.5rem;
    font-family: 'Italianno', cursive;
    font-size: 1.2rem;
}
.btn_explore:hover{
    background:#845460 ;
    color: #fff;
}
@media(max-width:900px){
    :root{
        font-size: 11px;
    }
}