
.product_list{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
}
h1 {
    text-transform: capitalize;
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;  
}
.category{
    margin: 1rem 0 2rem;
}

@media(max-width:900px){
    .product_list{
        flex-direction: column;
    }
}